body  {
    background-color: #000000FF;
    color:#FFFFFFFF;
}

#image  {
    max-width: 100%;
    height: auto;
    margin: auto;
}

#img-div  {
    align-content: center;
}

p   {
    text-align: center;
}

h1 {
    text-align: center;
}
    

