body  {
    background-color: #000000FF;
    color:#FFFFFFFF;
}

#image  {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


figcaption  {
    text-align: center;
}

h1 {
    text-align: center;
}

#tribute-p  {
    text-align: center;
}

a   {
    color:#D7C49EFF;
}
